<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.getting.started"
	version 	= "1.0.0">

	<name>Token Tap</name>

	<description>
		Token Tap Description
	</description>

	<author href="http://tokentap.com"
		email="jim@tokenrewards.com">
		Jim Hapenney
	</author>

	<icon src="icon.png" gap:role="default" />

	<preference name="orientation" value="portrait" />
</widget>
